.NotFound{
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    width: 100%;
    height: 601px;
}

.NotFound__container{
    height: 100%;
    margin: 0;
}

.NotFound__title{
    text-align: center;
    color: white;
    margin-top: 1%;
    margin-left: 4%;
}

.NotFound__image{
    width: 277px;
    height: 277px;
    background: url('../../images/img404.png');
    background-repeat: round;
    margin-left: 40%;
    margin-top: 12%;
}